name: Bump version

on:
  workflow_dispatch:

jobs:
  bump_version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.INGITDB_GORELEASER_GITHUB_TOKEN }}
          default_bump: false

