name: Deploy server

on:
  workflow_dispatch: # Allows manual trigger from Actions tab
#  workflow_run:
#    workflows: ["Release"]
#    types: [completed]
#    branches: ['v*']

jobs:
  deploy:
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}

    env:
      GCLOUD_PROJECT_ID: ingitdb
      GCLOUD_REGION: europe-west3
      SERVICE_NAME: ingitdb-server
      INGITDB_GITHUB_OAUTH_CLIENT_ID: ${{ vars.INGITDB_GITHUB_OAUTH_CLIENT_ID }}
      INGITDB_GITHUB_OAUTH_CALLBACK_URL: ${{ vars.INGITDB_GITHUB_OAUTH_CALLBACK_URL }}
      INGITDB_AUTH_COOKIE_DOMAIN: ${{ vars.INGITDB_AUTH_COOKIE_DOMAIN }}
      INGITDB_AUTH_API_BASE_URL: ${{ vars.INGITDB_AUTH_API_BASE_URL }}
      INGITDB_AUTH_COOKIE_NAME: ${{ vars.INGITDB_AUTH_COOKIE_NAME }}
      INGITDB_AUTH_COOKIE_SECURE: ${{ vars.INGITDB_AUTH_COOKIE_SECURE }}
      GCP_OAUTH_CLIENT_SECRET_NAME: ${{ vars.GCP_OAUTH_CLIENT_SECRET_NAME }}

    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'read'

    steps:
      - name: Deploy to Cloud Run
        uses: ./.github/actions/deploy-to-cloud-run
        with:
          gcloud_project_id: ${{ env.GCLOUD_PROJECT_ID }}
          gcloud_region: ${{ env.GCLOUD_REGION }}
          service_name: ${{ env.SERVICE_NAME }}
          ingitdb_github_oauth_client_id: ${{ env.INGITDB_GITHUB_OAUTH_CLIENT_ID }}
          ingitdb_github_oauth_callback_url: ${{ env.INGITDB_GITHUB_OAUTH_CALLBACK_URL }}
          ingitdb_auth_cookie_domain: ${{ env.INGITDB_AUTH_COOKIE_DOMAIN }}
          ingitdb_auth_api_base_url: ${{ env.INGITDB_AUTH_API_BASE_URL }}
          ingitdb_auth_cookie_name: ${{ env.INGITDB_AUTH_COOKIE_NAME }}
          ingitdb_auth_cookie_secure: ${{ env.INGITDB_AUTH_COOKIE_SECURE }}
          gcp_oauth_client_secret_name: ${{ env.GCP_OAUTH_CLIENT_SECRET_NAME }}
          workload_identity_provider: projects/152447355531/locations/global/workloadIdentityPools/github/providers/ingitdb
