name: Deploy website

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy website
    runs-on: ubuntu-latest

    env:
      GCLOUD_PROJECT_ID: ingitdb
      FIREBASE_TARGET: ingitdb-com

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Deploy website
        uses: ./.github/actions/deploy-website
        with:
          gcloud_project_id: ${{ env.GCLOUD_PROJECT_ID }}
          firebase_target: ${{ env.FIREBASE_TARGET }}
          firebase_config_path: server/firebase.json
          workload_identity_provider: projects/152447355531/locations/global/workloadIdentityPools/github/providers/ingitdb
          node_version: "20"
