name: CI (build, lint, test)

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'
      - '.github/goreleaser.yaml'

  pull_request:
    branches:
      - '**'
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'
      - '.github/goreleaser.yaml'

jobs:

  strongo_workflow:
    permissions:
      contents: write
    uses: strongo/go-ci-action/.github/workflows/workflow.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GORELEASER_GITHUB_TOKEN: ${{ secrets.INGITDB_GORELEASER_GITHUB_TOKEN }}
    with:
      code_coverage: true
      min_test_coverage_percent: 80
      disable-version-bumping: true
      run-goreleaser: false
