name: Go CI

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'
  #    tags:
  #      - 'v[0-9]+\.[0-9]+\.[0-9]+' # Push events to matching v*, i.e. v20.15.10
  pull_request:
    branches:
      - '**'
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'

jobs:

  strongo_workflow:
    permissions:
      contents: write
    uses: strongo/go-ci-action/.github/workflows/workflow.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GORELEASER_GITHUB_TOKEN: ${{ secrets.INGITDB_GORELEASER_GITHUB_TOKEN }}
    with:
      code_coverage: true
      min_test_coverage_percent: 80
      run-goreleaser: true #disable-version-bumping: true
