name: inGitDB

on:
  push:
    branches-ignore:
      - renovate/**
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'
  pull_request:
    branches:
      - '**'
    paths:
      - 'go.*'
      - '**/*.go'
      - 'src/**'
      - '.github/workflows/*.yml'

jobs:

  ingitdb_validator:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: Build ingitdb executable
        run: go build -o ingitdb ./cmd/ingitdb

      - run: chmod +x ingitdb

      - name: inGitDB validation
        run: ingitdb .
