name: Release

on:
  workflow_dispatch:

  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - uses: goreleaser/goreleaser-action@v6
        with:
          version: v2
          args: release --clean --config .github/goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.INGITDB_GORELEASER_GITHUB_TOKEN }}
